@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  scroll-behavior: smooth;
}

* {
  outline: none;
}

@layer base {
  body {
    @apply bg-light-bg dark:bg-dark-bg;
    @apply text-light-on_bg dark:text-dark-on_bg;
  }

  a {
    @apply text-light-sec dark:text-dark-sec;
    @apply hover:text-light-pri dark:hover:text-dark-pri;
  }
}
